{% extends 'parts/base.html' %} {% block title %}Suppression du Rapport{% endblock %} {% block content %}

<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h3>Supprimer le Rapport</h3>
            <hr>
            <form method="POST">
                <div class="alert alert-danger">
                    <h4>Êtes-vous sûr de vouloir supprimer {{ item }}?</h4>
                </div>
                {% csrf_token %} {{ form }}
                <a class="btn btn-secondary btn-sm" href="{% url 'Rapport' %}">Annuler</a>
                <input class="btn btn-danger btn-sm" type="submit" href="{% url 'Rapport' %}" value="Confirmer">
            </form>
        </div>
    </div>
</div>
{% endblock %}