{% extends 'parts/base.html' %} {% block title %}Modification du stage{% endblock %} {% load static %} {% load crispy_forms_tags %} {% block content %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<div class="row my-4">
    <div class="col-md-6 offset-md-3 p-3 bg-white">
        <h3>Modifier Stage</h3>
        <hr>
        <form method="POST">
            {% csrf_token %} {{ form|crispy }}
            <input class="btn btn-info" type="submit" href="{% url 'Stage' %}" value="Confirmer">
        </form>
    </div>
</div>
{% endblock %}