{% extends 'parts/base.html' %} {% block title %}Jury{% endblock %} {% load crispy_forms_tags %} {% load static %} {% block content %}{% include 'parts/top.html' %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="row">
    <div class="col-md-4 mt-4">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Cette fenêtre donne des informations sur
            </div>
            <div class="card-body">
                <marquee behavior="" direction="">
                    <h3 class="my-4"> Les jurys</h3>
                </marquee>
            </div>
        </div>
    </div>
    <div class="col-md-8 mt-4">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Statistiques
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="#">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Jurys <i class="fas fa-user-tie"></i></h4>
                                    <h3>{{ jury_count }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row my-4">

    <div class="col-md-4">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %} {% endif %}
        <div class="card card-body">
            <h5>Ajouter un nouveau Jury</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}{{ form|crispy }}
                <input class="btn btn-info btn-block" type="submit" value="Add">
            </form>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-dark text-light">
                <tr>
                    <th scope="col">Code Jury</th>
                    <th scope="col">Date Soutenance</th>

                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in juries %}
                <tr>
                    <td>{{ item.codeJ }}</td>
                    <td>{{ item.dateSoutenance }}</td>
                    <td>
                        <a class="btn btn-info btn-sm mr-2" href="{% url 'dashboard-jury-edit' item.id %}">Edit</a></td>
                    <td><a class="btn btn-danger btn-sm ml-2" href="{% url 'dashboard-jury-delete' item.id %}">Delete</a></td>
                </tr>
                {% endfor %}
                <tbody>
        </table>
    </div>
</div>

<script>
    $(function() {
        $("#id_DateNaissance ").datepicker();
    });
</script>

{% endblock %}